* {
    box-sizing: border-box;
}

html {
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
}

body {
    margin: 0;
    background-color: rgb(255, 212, 212);
}

.container {
    display: flex;
}

a {
    padding: 14px;
    display: block;
    text-decoration: none;
    color: black;
}

.btn-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 48px;
    align-items: center;
}

.cool-btn {
    border: 2px solid black;
    border-radius: 10px;
    margin-inline: 10px;
    box-shadow: 10px 10px;
}
